QPushButton {
    background-color: black;
    color: white;
    padding: 20px;
    max-width: 100px;
    max-height: 40px;
    font-size: 18px;
}

QPushButton#daily_input_done {
    max-width: 500px;
}

QPushButton:pressed{
    background-color: white;
}

QPushButton:disabled{
    background-color: grey;
}